.taskItem {
  margin: 28px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 23px 23px 35px 23px;
}

.taskDescription {
  font-size: 18px;
  max-width: 621px;
  margin-left: 23px;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 35px;
}
.close:before,
.close:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 1px;
  background: rgb(0, 0, 0);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
