p {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: rgba(0, 103, 163, 1);
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 17px;
}
.tasksModule {
  display: flex;
}

.tasksModule > :first-child {
  margin-right: 36px;
}

.kanbanAuthInfo {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-device-width: 425px) and (max-device-width: 1024px) {
}

@media only screen and (min-device-width: 325px) and (max-device-width: 425px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}
